* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	font-family: sans-serif;
}

header {
	padding: 0.5vmin;
	text-align: center;
	font-weight: 700;
	background-color: gainsboro;
}

nav {
	margin: auto;
	margin-bottom: 1%;
	padding-top: 1.5%;
	padding-left: 15%;
	padding-right: 15%;

	border-bottom: solid 2px #02a194;

	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: flex-end;

	#links {
		display: flex;
		flex-direction: row;
		margin-bottom: 0%;
		padding: 0%;

		list-style: none;

		li {
			transition: 0.2s;
			min-width: max-content;

			a {
				display: block;
				color: black;
				padding: .8em 1.5em;

				&:hover {
					text-decoration: none;
				}
			}

			&.current,
			&:hover {
				background-color: #00b3a4;
				cursor: pointer;

				a {
					color: honeydew;
				}
			}
		}
	}

	#user-info {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 25px;
		padding-bottom: 1.5%;

		height: fit-content;

		> img {
			width: 35px;
			height: 35px;
		}

		> button {
			margin-left: 10px;
			border: none;
			background-color: transparent;
		}
	}
}


@media only screen and (max-width: 1330px) {
	nav {
		padding-left: 0%;
		padding-right: 0%;

		#links {
			justify-self: baseline;
		}

		#user-info {
			justify-self: end;
			margin-right: 2%;
		}
	}
}
