.dashboard {
	width: 30%;
	min-width: 520px;
	margin: auto;

	#question-tabs {
		li {
			width: 50%;

			button {
				width: 100%;
				font-weight: 600;
				color: black;
				background-color: white;

				&.active {
					background-color: #dbdbdb;
					color: #00a3a3;
				}
			}
		}
	}

	#questions {
		border-top: 1px solid #dee2e6;
		display: flex;
		flex-direction: column;
		gap: 2%;
		padding: 2%;

		.question {
			height: fit-content;

			.card-header {
				font-weight: bold;
			}

			.card-content {
				display: grid;
				grid-template-columns: 1fr 2fr;
				padding: 2%;
				height: 160px;
				background-color: white;

				> img {
					align-self: center;
					justify-self: center;
					height: 130px;
				}

				.would-you-rather {
					padding-left: 5%;
					height: 130px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					border-left: solid 1px lightgray;

					> h5 {
						font-weight: bold;
					}

					> p {
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
}
