.question {
	width: 30%;
	min-width: 500px;
	margin: auto;

	&.unanswered {
		height: 250px;
	}

	&.answered {
		height: 390px;
	}

	.card-header {
		font-weight: bold;
	}

	.card-content {
		display: grid;
		grid-template-columns: 1fr 2fr;
		padding: 2%;
		height: 100%;

		> img {
			align-self: center;
			justify-self: center;
			height: 130px;
		}

		.would-you-rather.asking {
			padding-left: 5%;
			font-weight: bold;
			height: 150px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border-left: solid 1px lightgray;

			> h5 {
				font-weight: bold;
				margin-bottom: 0;
			}

			div {
				display: flex;
				flex-direction: row;
				align-items: center;

				label {
					margin-left: 3%;
					margin-bottom: 0;
				}
			}
		}

		.would-you-rather.answered {
			height: 310px;

			border-left: solid 1px lightgray;
			padding-left: 5%;

			display: grid;
			grid-template-rows: 1em 1fr 1fr;
			gap: 7%;

			> h5 {
				font-weight: bold;
				margin-bottom: 0;
			}

			.card {
				text-align: center;
				padding: 3%;
				font-weight: bold;

				.bar {
					width: 100%;
					height: 1.5em;
					background-color: lightgray;
					border-radius: 5px;

					.percentage {
						background-color: #009b9b;
						color: #dafffd;
						text-align: end;
						padding-right: 2%;
					}
				}

				&.chosen {
					color: #009b9b;
					border: solid 2px #009b9b;
					background-color: #c8fcf9;
					position: relative;

					&::after {
						content: 'Your vote';
						position: absolute;
						width: min-content;
						line-height: 1em;
						top: 0;
						right: 0;
						transform: translate(50%, calc(-40% + 0.25em));
						color: honeydew;
					}
					&::before {
						content: '';
						height: 3em;
						width: 3em;
						background-color: goldenrod;
						border-radius: 50%;
						position: absolute;
						top: 0;
						right: 0;
						transform: translate(50%, -40%);
					}

					.statement {
						color: black;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1800px) {
	.card-content {
		.would-you-rather.answered {
			.card {
				font-size: 14px;
			}
		}
	}
}
